<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Photo Gallery Users List</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
</head>

<body>
  <h1>Photo Gallery Users List</h1>

  <div class="photoDiv">
    <ul>
      {{#each users}}
      <a href="{{id}}/edit"><button>Edit</button></a>
      <li class="firstName">{{first_name}}</li>
      <li class="lastName">{{last_name}}</li>
      <ul class="photos">
        {{#each posts}}
        <li class="photo"><a href="{{link}}"><img src="{{link}}" alt="" srcset=""></a></li>
        {{/each}}
      </ul>
      {{/each}}
    </ul>
  </div>



</body>

</html>